@import "tailwindcss";

@import url("https://fonts.google.com/share?selection.family=Gabarito:wght@400..900");

:root {
  --background: #ffffff;
  --foreground: #171717;
  max-width: 600px;
}

:root {
  --animate-neon-slide-right: neonSlideRight 2s linear infinite;
  --animate-neon-slide-down: neonSlideDown 2s linear infinite;
  --animate-neon-slide-left: neonSlideLeft 2s linear infinite;
  --animate-neon-slide-up: neonSlideUp 2s linear infinite;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes neonSlideRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes neonSlideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes neonSlideLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes neonSlideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Gabarito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    max-width: 600px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}

.list-title{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2%;
}

