.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.infoBar1 {
  background-color: #521f9050;
  display: flex;
  align-items: center;
  border: solid #ffffff 1px;
  margin: 1rem;
  box-shadow: 0 0 20px #521f90, 0 0 10px #bb1afb;
  border-radius: 25px;
  align-content: center;
  padding: 0.5%;
}

.ib-text p {
  font-size: 1rem;
  color: #ffffff;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.ib-icon{
  width:3rem;
  height: 3rem;
  align-items: center;
  filter: drop-shadow(0 0 10px #bb1afb);
}