
.gabarito {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  
  }
  
  
  .Card1 {
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    border: solid #ffffff 1px;
    margin: 2rem 1rem;
    box-shadow: 0 0 20px #521f90, 0 0 10px #bb1afb;
    border-radius: 15px;
    align-content: center;
    
  }
  
  .card-img {
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    filter: drop-shadow(0 0 20px #521f90);
  }
  
  .card-text h3{
    font-size: 1.2rem;
    color: #ffffff;
    align-items: center;
  }
  .card-text p {
    font-size: 0.85rem;
    color: #db63ff;
  }