* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    /* Alinha horizontalmente */
}

ul {
    list-style: none;
    display: flex;
    width: fit-content;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.500);
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    padding: 0.5rem;
    margin: 1rem;
    gap: 2rem;
}

a {
    text-decoration: none;
    font-size: 18px;
}

/* navbar */
.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 40px;
}



.li {
    width: 100%;
    height: fit-content;
}

/* logo  */
.logo {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    width: 5rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.75)
}

.icon:active {
    /*neon effect*/
    filter: drop-shadow(0 0 20px #521f90) drop-shadow(0 0 10px #bb1afb) drop-shadow(0 0 10px #bb1afb);
    transform: scale(1);
}

.icon1 {
    filter: drop-shadow(0 0 20px #521f90) drop-shadow(0 0 10px #bb1afb) drop-shadow(0 0 10px #bb1afb);
    transform: scale(1);
}


.icon:hover {
    filter: drop-shadow(0 0 20px #521f90) drop-shadow(0 0 10px #bb1afb) drop-shadow(0 0 10px #bb1afb);
    transform: scale(1);
}

/* ul  */
.navMenu {
    color: rgb(0, 136, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}