.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.pc-box {
  background-color: #521f9050;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid #ffffff 1px;
  margin: 1rem 0;
  box-shadow: 0 0 20px #521f90, 0 0 10px #bb1afb;
  border-radius: 20px;
  width: 45%; /* Faz a caixa ocupar toda a largura da janela */
  height: auto;
  padding: 1rem;
text-align: center;
}

.pc-text h2 {
  font-size: 1rem;
  color: #ffffff;
  margin: 0.5rem;
  display: flex;
}

.piechart {
  width: 100%;
  height: auto;
  max-width: 100%;
  
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}